
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light {
  background-color: #f0f0f0;
  color: #333;
}

.dark {
  background-color: #333;
  color: #f0f0f0;
}

.content {
  margin-top: 20px;
  flex: 1;
  width: 80%;
  max-width: 600px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.navbar {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.navbar.dark {
  background-color: #333;
  color: #f0f0f0;
}

.navbar.light {
  background-color: #f0f0f0;
  color: #333;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
}

.mode-toggle {
  cursor: pointer;
  font-size: 20px;
}

.mode-toggle:hover {
  opacity: 0.7;
}
/* App.css */
:root {
  --dashboard-bg-light: #ffffff;
  --dashboard-bg-dark: #333333;
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
  --card-border-light: #ccc;
  --card-border-dark: #555;
}

.App.light {
  --dashboard-bg: var(--dashboard-bg-light);
  --text-color: var(--text-color-light);
  --card-border: var(--card-border-light);
}

.App.dark {
  --dashboard-bg: var(--dashboard-bg-dark);
  --text-color: var(--text-color-dark);
  --card-border: var(--card-border-dark);
}
