/* Sidebar.css */

/* Dark mode variables */
:root {
  --sidebar-bg-color: #2c2c2c;
  --sidebar-text-color: #fff;
  --sidebar-hover-color: #444;
  --sidebar-header-bg-color: #1c1c1c;
  --logout-btn-bg-color: #ff4081;
  --logout-btn-hover-color: #ff80ab;
}

/* Light mode variables */
.sidebar.light {
  --sidebar-bg-color: #f0f0f0;
  --sidebar-text-color: #333;
  --sidebar-hover-color: #ddd;
  --sidebar-header-bg-color: #ccc;
  --logout-btn-bg-color: #007bff; /* Blue color */
  --logout-btn-hover-color: #0056b3;
}

/* Common sidebar styles */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
}

.sidebar.open {
  left: 0;
}

.sidebar-close-button {
  background: none;
  border: none;
  color: var(--sidebar-text-color);
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  margin: 10px;
  padding: 0;
}

.sidebar-header {
  text-align: center;
  padding: 20px 0;
  background-color: var(--sidebar-header-bg-color);
  font-size: 18px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-menu li {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar-menu li:hover {
  background-color: var(--sidebar-hover-color);
}

.sidebar-menu li span {
  margin-left: 10px;
}

.sidebar .logout {
  background-color: var(--logout-btn-bg-color);
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.sidebar .logout:hover {
  background-color: var(--logout-btn-hover-color);
}
