

.sites {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sites.light {
    background-color: #f9f9f900;
    color: #333;
  }
  
  .sites.dark {
    background-color: #33333300;
    color: #f9f9f9;
  }
  
  .sites h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .sites-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .sites-table th,
  .sites-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .sites-table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .sites.dark .sites-table th {
    background-color: #555;
    color: #f9f9f9;
  }
  
  .sites-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .sites.dark .sites-table tr:nth-child(even) {
    background-color: #444;
  }
  
  .sites-table tr:hover {
    background-color: #ddd;
  }
  
  .sites.dark .sites-table tr:hover {
    background-color: #666;
  }
  