.sites-table {
  width: 100%; /* This makes the table take up 100% of its container's width */
  max-width: 100%; /* Ensures the table does not exceed the width of its container */
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Forces the table to use the specified width */
}

/* Adjusting td and th styles for better readability */
.sites-table th,
.sites-table td {
  padding: 12px; /* Increased padding for better spacing */
  text-align: left;
}

/* Dark mode adjustments */
.dark .sites-table td,
.dark .sites-table th {
  border: 1px solid #333; /* Dark mode border color */
}

/* Light mode adjustments */
.light .sites-table td,
.light .sites-table th {
  border: 1px solid #ddd; /* Light mode border color */
}
